[client]
port   = 3306
socket = /data/apps/ln/mariadb/mysql.sock

[mysql]
no_auto_rehash

[myisamchk]
aria_pagecache_buffer_size = 64M
sort_buffer_size           = 64M
read_buffer                = 2M
write_buffer               = 2M

[mysqlhotcopy]
interactive-timeout

[mysqldump]
quick
max_allowed_packet = 512M

[mysqld_safe]
open_files_limit = 8192
user             = maria

[mysqld]
user = maria
port = 3306

socket   = /data/apps/ln/mariadb/mysql.sock
pid-file = /data/apps/ln/mariadb/mysqld.pid
tmpdir   = /data/apps/ln/mariadb/tmp

log_warnings = 3
log-error    = /data/apps/ln/mariadb/logs/mysqld.log

slow_query_log      = 1
long_query_time     = 3
slow_query_log_file = /data/apps/ln/mariadb/logs/mysqld-slow.log

log-bin           = mysql-bin
binlog_format     = mixed
expire_logs_days  = 3

event_scheduler   = 1
skip-name-resolve = 1
log-bin-trust-function-creators = 1

max_allowed_packet     = 512M
default_storage_engine = InnoDB
character-set-server   = utf8

max_connections      = 10240
max_user_connections = 0

thread_handling          = pool-of-threads
thread_pool_max_threads  = 2048
thread_pool_idle_timeout = 256

sort_buffer_size        = 4M
tmp_table_size          = 64M
read_buffer_size        = 8M
read_rnd_buffer_size    = 8M
join_buffer_size        = 8M
table_open_cache        = 4096
myisam_sort_buffer_size = 64M
max_heap_table_size     = 64M

innodb_data_home_dir           = /data/apps/ln/mariadb/data
innodb_log_group_home_dir      = /data/apps/ln/mariadb/data
innodb_data_file_path          = ibdata1:1024M;ibdata2:1024M:autoextend
innodb_buffer_pool_size        = 512M
innodb_file_per_table          = 1
innodb_log_file_size           = 256M
innodb_log_buffer_size         = 8M
innodb_flush_log_at_trx_commit = 1
